body {
	margin: 0;
	background-color: rgb(249, 249, 246);
	overflow: hidden;
}

.container {
	width: 270px;
	height: 60px;
	position: absolute;
	left: 40vw;
	top: 45vh;
}

.dot {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
}